body {
    background-color: $body-bg-color;

    &.cd {
        background: url(../media/images/ui-background-cyber-discovery.png) center top;
        background-repeat: repeat-x;
        background-size: 1500px 600px;
        background-color: $body-bg-color;
    }
}

a {
    color: $link-color;
    
    // Settings: If true text is underlined.
    @if ($link-text-decoration) {
        text-decoration: underline;
    } @else {
        text-decoration: none;
    }

    // Settings: If true transitions enabled.
    @if ($smooth-transitions) {
        transition: color $button-transition-duration;
    } 
}