// ********************
// Flexbox Grid
// ********************

// Base Unit
// -------------------------------------------------

$base-unit: 20px;

// Screen Sizes
// -------------------------------------------------

$breakpoint-small: 480px;
$breakpoint-medium: 624px;
$breakpoint-large: 744px;

// The Flexbox Grid
// -------------------------------------------------

.l-container {
    margin: 0 auto;
    max-width: $container-width-max;
}

.l-grid {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 ($base-unit * -1) 0 ($base-unit * -1);

    // Remove gutters.
    &.l-grid-nogutter {
        margin: 0;

        &>.col {
            padding: 0;
        }
    }
}

.l-col {
    box-sizing: border-box;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    -webkit-flex-basis: 0;
    flex-basis: 0;
    max-width: 100%;
    min-width: 0;
    padding: 0 $base-unit 0 $base-unit;

    .l-col-smallgutter {
        padding: 0;
    }
}

// Column vertical alignment, top.
.l-col-align-top {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

// Column vertical alignment, bottom.
.l-col-align-bottom {
    align-self: flex-end;
}

// Column vertical alignment, middle.
.l-col-align-middle {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

// Column content alignment, top.
.l-col-top {
    justify-content: flex-start !important;
    flex-direction: column;
    display: flex;
}

// Column content alignment, bottom.
.l-col-bottom {
    justify-content: flex-end !important;
    flex-direction: column;
    display: flex;
}

// Column content alignment, middle.
.l-col-middle {
    justify-content: center;
    flex-direction: column;
    display: flex;
}

// Horizontal grid alignment, start.
.l-grid-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

// Horizontal grid alignment, center.
.l-grid-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

// Horizontal grid alignment, end.
.l-grid-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

// Column distribution, around.
.l-grid-around {
    justify-content: space-around;
}

// Column distribution, between.
.l-grid-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

// Reordering columns, first.
.l-col-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
}

// Reordering columns, last.
.l-col-last {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

// Reverse columns.
.l-grid-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

// Column Sizing
// -------------------------------------------------

// Fixed column.
.l-col-fixed {
    flex: initial;
}

// Grow based columns.
@for $i from 2 through 11 {
    .l-col-grow-#{$i} {
        flex-grow: $i;
    }
}

// Percent based columns.
@for $i from 1 through 12 {
    .l-col-#{$i} {
        -ms-flex-preferred-size: (100% / 12) * $i;
        -webkit-flex-basis: (100% / 12) * $i;
        flex-basis: (100% / 12) * $i;
        max-width: (100% / 12) * $i;
    }
}

// Media Queries
// -------------------------------------------------

@media only screen and (max-width: $breakpoint-small) {

    // Small.
    .l-col-sm {
        flex: 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: $breakpoint-medium) {

    // Medium.
    .l-col-md {
        flex: 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: $breakpoint-large) {

    // Large
    .l-col-lg {
        flex: 100%;
        max-width: 100%;
    }
}