// Grid variables.
$width: 96%;
$width-no-margin: 100%;
$gutter: 4%;
$breakpoint-small: $breakpoint-small;
$breakpoint-medium: $breakpoint-medium;
$breakpoint-large: $breakpoint-large;

// Hide on small sized screens.
.hidden-sm {
  display: none;

  @media only screen and (min-width: $breakpoint-medium) {
    display: block;
  }
}

// Hide on medium and up sized screens.
.hidden-md {
  @media only screen and (min-width: $breakpoint-medium) {
    display: none;
  }
}

// Container.
.l-container {
  margin: 0 auto;
  max-width: 90%;

  @media only screen and (min-width: $breakpoint-large) {
    max-width: $container-width-max;
  }
}

// Paper.
.l-paper {
  max-width: $container-width-max;
  padding: $spacer-3;
  border-radius: $border-radius;
  background-color: map-get($color-map, white);

  @media only screen and (min-width: $breakpoint-large) {
    padding: $spacer-5;
  }

  &--no-border-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &--no-border-bottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  // Paper, dark.
  &--dark {
    background-color: map-get($color-map, blue-dark);
  }
}
