// Grid variables.
$width: 96%;
$width-no-margin: 100%;
$gutter: 4%;
$breakpoint-small: $breakpoint-small;
$breakpoint-medium: $breakpoint-medium;
$breakpoint-large: $breakpoint-large;

// Hide on small sized screens.
.hidden-sm {
  display: none;

  @media only screen and (min-width: $breakpoint-medium) {
    display: block;
  }
}

// Hide on medium and up sized screens.
.hidden-md {
  @media only screen and (min-width: $breakpoint-medium) {
    display: none;
  }
}
