// Reset margin and padding in body.
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

// Improve readability of code and pre text in all browsers.
code,
pre {
    font-family: monospace, monospace;
    font-size: 1em;
    margin-bottom: 1rem;
    margin-top: 0;
    -ms-overflow-style: scrollbar;
    overflow: auto;
    white-space: pre-wrap;
}

// Remove the gray background on active links in IE 10.
a {
    background-color: transparent;
}

// Clean up and standardise abbreviations.
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

// Add the correct font weight in Chrome, Edge, and Safari.
b,
strong {
    font-weight: bolder;
}

// Set consistent quote types.
q {
    quotes: "\201C""\201D""\2018""\2019";
}

// Address inconsistent and variable font sizes in all browsers.
small {
    font-size: 80%;
}

// Make image display consistent.
img {
    border: 0;
    display: block;
    height: auto;
    max-width: 100%;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

// Correct overflow displayed oddly in IE 9 / 10 / 11.
svg:not(:root) {
    overflow: hidden;
    vertical-align: middle;
}

// Define consistent border, margin and padding.
fieldset {
    border: none;
    margin: 0;
    min-width: 0;
    padding: 0;
}

// Correct font-family and font-size inheritance, and margins.
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

// Address Firefox 4+ setting 'line-height' using '!important'.
button,
input {
    line-height: normal;
}

// Address inconsistent 'text-transform' inheritance.
button,
select {
    text-transform: none;
}

// Avoid WebKit bug in Android, clickable 'input' in iOS and more.
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

// Address 'appearance' and 'box-sizing' in Safari 5 and Chrome.
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    outline-offset: -2px;
}

// Remove inner padding and search cancel button in Safari 5 and Chrome on OS X.
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

// Remove inner padding and border in Firefox 4+.
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

// Remove default vertical scrollbar in IE 8/9 and general readability.
textarea {
    overflow: auto;
    vertical-align: top;
}

// Remove most spacing between table cells.
table {
    border-collapse: collapse;
    border-spacing: 0;
}

// Set consistant iframe styles.
iframe {
    border: 0;
    max-width: 100%;
    width: 100%;
}

// Remove default heading margins
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}