body {
    font-family: $font-family-body;
    font-size: $font-size-base;
    color: $body-text-color;
}

// Headings
@for $i from 1 through 6 {
    h#{$i} {
        @include font-size(map-get($font-size-map, h#{$i}));
        margin-bottom: 20px;
        color: map-get($color-map, gray-uberdark);
        font-family: $font-family-heading;
        font-weight: $font-weight-bold;

    }
}

@for $i from 1 through 6 {
    .h#{$i} {
        @include font-size(map-get($font-size-map, h#{$i}));
        margin-bottom: 20px;
        color: map-get($color-map, black);
        font-family: $font-family-heading;
        font-weight: $font-weight-bold;
    }
}

// Paragraph.
p {
    margin: 0 0 15px;
    font-size: $font-size-base;
    line-height: $font-size-scale;
}

// Small text.
small {
    font-size: $font-size-small;

}

// Lists
ul.c-list--inline {
    padding: 0;

    li {
        display: inline-block;
        margin-right: $spacer-2;

        &:last-child {
            margin-right: 0;
        }
    }

}

ul.c-list--unstyled {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

// Quote.
.c-quote {
    position: relative;
    text-align: center;

    // Quote, text.
    &__text {
        position: relative;
        width: 100%;
        padding: 0 $spacer-8;
        font-size: $font-size-large;

        // Responsive.
        @media screen and (max-width: 750px) {}

        // Before & after.
        &:before,
        &:after {
            content: "";
            height: 30px;
            position: absolute;
            width: 20px;
        }

        // Quote, before.
        &:before {
            background: url(../media/images/ui-quote-mark-left.png) no-repeat;
            background-size: 20px;
            left: 0;
            top: 0;

            // Responsive.
            @media screen and (max-width: 750px) {
                left: 0;
            }
        }

        // Quote, after.
        &:after {
            background: url(../media/images/ui-quote-mark-right.png) no-repeat;
            background-size: 20px;
            bottom: -10px;
            right: 0px;

            // Responsive.
            @media screen and (max-width: 750px) {
                right: 0;
            }
        }
    }

    &__author {
        color: map-get($color-map, gray);
    }
}