.o-base-summary {
    display: flex;
    flex-direction: column;
    padding: $spacer-5;
    border-radius: $border-radius;
    background-color: map-get($color-map, gray-light);

    &__title {
        font-size: $h3;
    }

    &__description {
        p {
            font-size: $font-size-small;
        }
    }

    &__stats {
        display: flex;
        flex-direction: row;
    }

    &__stat {
        flex-grow: 1;
    }

}