// ********************
// Helpers
// ********************

// Linking
// -------------------------------------------------

// Fake link.
.h-fake-link {
    cursor: pointer;
}

// Padding
// -------------------------------------------------

// Padding.
@each $name,
$value in $spacer-map {
    .h-p-#{$name} {
        padding: $value !important;
    }
}

// Padding X.
@each $name,
$value in $spacer-map {
    .h-px-#{$name} {
        padding: 0 $value !important;
    }
}

// Padding Y.
@each $name,
$value in $spacer-map {
    .h-py-#{$name} {
        padding: $value 0 !important;
    }
}

// Padding left.
@each $name,
$value in $spacer-map {
    .h-pl-#{$name} {
        padding-left: $value !important;
    }
}

// Padding right.
@each $name,
$value in $spacer-map {
    .h-pr-#{$name} {
        padding-right: $value !important;
    }
}

// Padding top.
@each $name,
$value in $spacer-map {
    .h-pt-#{$name} {
        padding-top: $value !important;
    }
}

// Padding bottom.
@each $name,
$value in $spacer-map {
    .h-pb-#{$name} {
        padding-bottom: $value !important;
    }
}

// Margins
// -------------------------------------------------

// Margin.
@each $name,
$value in $spacer-map {
    .h-m-#{$name} {
        margin: $value !important;
    }
}

// Margin X.
@each $name,
$value in $spacer-map {
    .h-mx-#{$name} {
        margin: 0 $value !important;
    }
}

// Margin Y.
@each $name,
$value in $spacer-map {
    .h-my-#{$name} {
        margin: $value 0 !important;
    }
}

// Margin left.
@each $name,
$value in $spacer-map {
    .h-ml-#{$name} {
        margin-left: $value !important;
    }
}

// Margin right.
@each $name,
$value in $spacer-map {
    .h-mr-#{$name} {
        margin-right: $value !important;
    }
}

// Margin top.
@each $name,
$value in $spacer-map {
    .h-mt-#{$name} {
        margin-top: $value !important;
    }
}

// Margin bottom.
@each $name,
$value in $spacer-map {
    .h-mb-#{$name} {
        margin-bottom: $value !important;
    }
}

// Text
// -------------------------------------------------

// Text colors.
@each $name,
$value in $color-map {
    .h-text-#{$name} {
        color: $value !important;
    }
}

// Text colors, grey.
@each $name,
$value in $color-map-gray {
    .h-text-#{$name} {
        color: $value !important;
    }
}

// Background
// -------------------------------------------------

@each $color,
$bgcolor in $color-map {
    .h-bg-#{$color} {
        background-color: $bgcolor !important;
    }
}

// Text Alignment
// -------------------------------------------------

// Text center.
.h-text-center {
    text-align: center !important;
}

// Text left.
.h-text-left {
    text-align: left !important;
}

// Text right.
.h-text-right {
    text-align: right !important;
}

// Image Shapes
// -------------------------------------------------

// Circle.
.h-circle {
    border-radius: 50%;
}

// Rounded.
.h-rounded {
    border-radius: 6px;
}

// Display
// -------------------------------------------------

// Block.
.h-d-block {
    display: block;
}

// Inline.
.h-d-inline-block {
    display: inline-block;
}

// Font Size
// -------------------------------------------------

.h-f-xs {
    font-size: $font-size-xsmall;
}

.h-f-sm {
    font-size: $font-size-small;
}

.h-f-lg {
    font-size: $font-size-large;
}

.h-f-xl {
    font-size: $font-size-xlarge;
}