// Transitions
$smooth-transitions: true;

// Breakpoints
$breakpoint-small: 540px;
$breakpoint-medium: 720px;
$breakpoint-large: 960px;

// Container width
$container-width-max: 1000px;

// Font declaration
// -------------------------------------------------

// ** Declare the fonts to be used for a target UI here.
// ** Import fonts in the _type.scss file.
// ** Ensure good fallbacks for each declaration.

@import url('https://fonts.googleapis.com/css?family=Dosis:400,500&display=swap');

$font-family-primary: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Helvetica,
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";
$font-family-secondary: 'Dosis',
sans-serif;
$font-family-tertiary: 'Quicksand',
sans-serif;

// Font assignment
// -------------------------------------------------

// ** Assign font-families to the UI here.
// ** Make sure to map font sizes to the $font-size map.

$font-family-body: $font-family-secondary;
$font-family-heading: $font-family-secondary;
$font-family-button: $font-family-secondary;

$font-size-base: 20px;

$font-size-xsmall: 16px;
$font-size-small: 18px;
$font-size-large: 22px;
$font-size-xlarge: 26px;

$font-size-scale: 1.5;

$font-size-map: (
  h1: 48px,
  h2: 32px,
  h3: 26px,
  h4: 22px,
  h5: 20px,
  h6: 16px
);

$h1: map-get($font-size-map, h1);
$h2: map-get($font-size-map, h2);
$h3: map-get($font-size-map, h3);
$h4: map-get($font-size-map, h4);
$h5: map-get($font-size-map, h5);
$h6: map-get($font-size-map, h6);

// Font weights
// -------------------------------------------------

// ** The correct font weight can vary between fonts.
// ** Ensure the correct weight by referencing imported fonts documentation.

$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-bold: 500;

// Brand colors
// -------------------------------------------------

// ** This is where you add brand colors for each target UI.
// ** Make sure you map functional colors to this map.

$color-map: (
    black: #000,
    white: #fff,
    blue: #286fa0,
    blue-light:#3084c0,
    blue-dark: #205981,
    blue-superdark: #0d2332,
    blue-uberdark: #091823,
    aqua: #2b9abe,
    aqua-light:#3eaed3,
    aqua-dark: #24809e,
    aqua-superdark: #154c5e,
    red: #c04b4e,
    red-light: #ca686b,
    red-dark: #a93b3e,
    green: #4ea550,
    green-light: #64b666,
    green-dark: #418a43,
    yellow: #d38e00,
    yellow-light: #faa900,
    yellow-dark: #ac7400,
    purple: #705a8f,
    purple-lightest: #9885B2,
    purple-light: #836da3,
    purple-dark: #5d4b77,
    pink: #c28699,
    pink-light: #cfa0af,
    pink-dark: #b56c83,
    gray: #98a9ba,
    gray-light: #bbc7d1,
    gray-dark: #8196aa,
    gray-darkest: #6a829a,
    gray-uberdark: #495b6c
);

// Grays
// -------------------------------------------------

// ** A map of gray shades originating from the $color-gray-base variable.
// ** Change the $color-gray-base variable to achieve another monochromatic mapping of a different color.

$color-gray-base: #09090A;
$color-map-gray: (
    0: $color-gray-base,
    10: lighten($color-gray-base, 10%),
    20: lighten($color-gray-base, 20%),
    30: lighten($color-gray-base, 30%),
    40: lighten($color-gray-base, 40%),
    50: lighten($color-gray-base, 50%),
    60: lighten($color-gray-base, 60%),
    70: lighten($color-gray-base, 70%),
    80: lighten($color-gray-base, 86%),
    90: lighten($color-gray-base, 90%),
);

// Functional colors
// -------------------------------------------------

// ** Functional colors are used primarly for buttons and states.
// ** These should be mapped to your brand colors.

$color-primary: map-get($color-map, aqua);
$color-primary-light: map-get($color-map, aqua-light);
$color-primary-dark: map-get($color-map, aqua-dark);

$color-secondary: map-get($color-map, blue);
$color-secondary-light: map-get($color-map, blue-light);
$color-secondary-dark: map-get($color-map, blue-dark);

$color-tertiary: map-get($color-map, pink);
$color-tertiary-light: map-get($color-map, pink-light);
$color-tertiary-dark: map-get($color-map, pink-dark);

$color-success: map-get($color-map, green);
$color-success-light: map-get($color-map, green-light);
$color-success-dark: map-get($color-map, green-dark);

$color-warning: map-get($color-map, yellow);
$color-warning-light: map-get($color-map, yellow-light);
$color-warning-dark: map-get($color-map, yellow-dark);

$color-danger: map-get($color-map, red);
$color-danger-light: map-get($color-map, red-light);
$color-danger-dark: map-get($color-map, red-dark);

// Main
// -------------------------------------------------

$body-text-color: map-get($color-map, gray-darkest);
$body-bg-color: map-get($color-map, blue-superdark);
$link-color: $color-primary;
$link-text-decoration: false;

// Spacers
// -------------------------------------------------

// ** Keep spacing consistent across the UI.
// ** If you need to add new pairings make sure to also create a variable mapped to it below.

$spacer-map: (
    0: 0,
    1: 4px,
    2: 8px,
    3: 12px,
    4: 16px,
    5: 20px,
    6: 24px,
    7: 28px,
    8: 32px,
    9: 36px,
    10: 44px,
    11: 48px,
    12: 52px,
    13: 56px,
    14: 60px,
    15: 62px
);

$spacer-0: map-get($spacer-map, 0);
$spacer-1: map-get($spacer-map, 1);
$spacer-2: map-get($spacer-map, 2);
$spacer-3: map-get($spacer-map, 3);
$spacer-4: map-get($spacer-map, 4);
$spacer-5: map-get($spacer-map, 5);
$spacer-6: map-get($spacer-map, 6);
$spacer-7: map-get($spacer-map, 7);
$spacer-8: map-get($spacer-map, 8);
$spacer-9: map-get($spacer-map, 9);
$spacer-10: map-get($spacer-map, 10);
$spacer-11: map-get($spacer-map, 11);
$spacer-12: map-get($spacer-map, 12);
$spacer-13: map-get($spacer-map, 13);
$spacer-14: map-get($spacer-map, 14);
$spacer-15: map-get($spacer-map, 15);

// Radii

$border-radius-small: 5px;
$border-radius-medium: 10px;
$border-radius-large: 15px;
$border-radius: $border-radius-medium;

// Buttons
$button-theme: default; // default | shadow

$button-height: 42px;
$button-height-small: 28px;
$button-height-large: 62px;

$button-padding: 16px;
$button-padding-small: 10px;
$button-padding-large: 32px;

$button-radius: 6px;

$button-font-size: 18px;
$button-font-size-small: 14px;
$button-font-size-large: 22px;

$button-color-success: $color-success;
$button-color-warning: $color-warning;
$button-color-danger: $color-danger;

$button-color-default: map-get($color-map-gray, 70);
$button-color-primary: $color-primary;
$button-color-secondary: $color-secondary;
$button-color-tertiary: $color-tertiary;

$button-border-width: 1px;

$button-transition-duration: 0.2s;

// Forms
$form-theme: default !default; // default | alt | shadow

$input-height: 50px;
$input-height-small: 30px;
$input-height-large: 60px;

$input-padding: 12px;
$input-padding-small: 8px;
$input-padding-large: 22px;

$input-radius: 6px;

$input-font-size: $font-size-base;
$input-font-size-small: 14px;
$input-font-size-large: 22px;

$input-border-width: 1px;

$input-border-color: map-get($color-map-gray, 70);
$input-valid-border-color: map-get($color-map, green);
$input-invalid-border-color: map-get($color-map, red);

// Labels
$label-text-transform: normal;

$label-border-radius: 20px;

$label-color-default: map-get($color-map-gray, 70);
$label-color-primary: $color-primary-light;
$label-color-secondary: $color-secondary-light;
$label-color-tertiary: $color-tertiary-light;
$label-color-success: map-get($color-map, green);
$label-color-warning: map-get($color-map, yellow);
$label-color-danger: map-get($color-map, red);

// Alerts
$alert-theme: default; // default | fill | shadow

$alert-padding: 12px;

$alert-color-default: map-get($color-map-gray, 70);
$alert-color-success: $color-success;
$alert-color-warning: $color-warning;
$alert-color-danger: $color-danger;

$alert-radius: 6px;

$alert-border-width: 2px;

// Wells
$well-padding: $spacer-6;

$well-border-radius: 10px;
$well-border-size: 1px;

$well-color-default: map-get($color-map, grey);
$well-color-primary: map-get($color-map, aqua-light);
$well-color-secondary: $color-secondary;
$well-color-tertiary: $color-tertiary;