.c-stack {
    display: flex;
    margin-top: $spacer-5;

    @media only screen and (min-width: $breakpoint-large) {
        padding: $spacer-15;
    }

    // Left.
    &__left {
        flex-basis: 50%;
        margin-right: $spacer-4;
    }

    // Right
    &__right {
        flex-basis: 50%;
        margin-left: $spacer-4;
    }

    img.c-stack--image {
        border-radius: $border-radius;
    }
}