.c-well {
    display: block;
    width: 100%;
    padding: $well-padding;
    border-radius: $well-border-radius;
    border-style: solid;
    border-width: $well-border-size;
    border-color: map-get($color-map, gray-light);
    box-shadow: 0 0 0 4px rgba(map-get($color-map, gray-light), 0.3);
    background-color: map-get($color-map, white);

    p:last-child {
        margin-bottom: 0;
    }

    &--primary {
        @include well($well-color-primary);
    }

    &--secondary {
        @include well($well-color-secondary);
    }

    &--tertiary {
        @include well($well-color-tertiary);
    }
}