{{ define "main" }}

<script>
    CMS.registerPreviewStyle("http://localhost:1313/css/main.min.398d9e5640a08eb09549e39998025cf1ec3da294c8882472e7a043c2d6c25e9a.css");
</script>

<div class="c-header">
    <div class="c-header__logo">
        <img src="media/images/ui-logo-cyber-discovery.svg" width="320">
    </div>

    <div class="c-header__title">
        <h1>{{ .Params.header.title }}</h1>
    </div>

    <div class="c-header__subtitle">
        <p>{{ .Params.header.subtitle }}</p>
    </div>

    <div class="c-header__action">
        <button class="c-btn c-btn--large c-btn--primary">Reserve your place</button>
    </div>
</div>

<div class="c-paper c-paper--background-wave-top">

    <div class="l-grid">
        <div class='l-col l-col-lg'>
            <h2>{{ .Params.columnLeft.title }}</h2>
            
            {{ range .Params.columnLeft.copySetOne }}
                <p>{{ .text }}</p>
            {{ end }}

            <div class="c-quote h-my-10">
                <p class="c-quote__text">{{ .Params.columnLeft.quote.text }}</p>

                <p class="c-quote__author">{{ .Params.columnLeft.quote.author }}</p>
            </div>

            {{ range .Params.columnLeft.copySetTwo }}
                <p>{{ .text }}</p>
            {{ end }}
        </div>
        <div class='l-col l-col-lg'>
            <div class="c-well h-mb-9">
                <p class="h-f-sm">{{ .Params.columnRight.criteria }}</p>
            </div>

            <div class="c-well c-well--primary">
                <form>
                    <h2 class="h-f-xl h-mb-3">{{ .Params.columnRight.form.title }}</h2>

                    <small class="h-mb-3 h-d-block h-f-xs h-text-gray">{{ .Params.columnRight.form.subtitle }}</small>

                    <form class="js-cm-form" id="subForm" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="A61C50BEC994754B1D79C5819EC1255CE2CDD55AE3A570FE0C99808BAAFF559F985B8924345E5ACEAC07C4AD04C24FCFB2036ED8FB86858827F4B59E2D5A6E82">
                        <div class="c-form-item">
                            <label class="c-form-label">Name</label>
                            <input aria-label="Name" class="c-form-input" id="fieldName" required="" maxlength="200" name="cm-name">
                        </div>

                        <div class="c-form-item">
                            <label class="c-form-label">Email</label>
                            <input autocomplete="Email" aria-label="Email" class="c-form-input js-cm-email-input qa-input-email" id="fieldEmail" maxlength="200" name="cm-jyhrkli-jyhrkli" required="" type="email">
                        </div>

                        <div class="c-form-item">
                            <button type="submit" class="c-btn c-btn--large c-btn--block c-btn--primary">Reserve your place</button>
                        </div>
                    </form>
                </form>
            </div>
            <script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>

            <div class="c-video-container h-mt-9">
                <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/385938113?color=20cace&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>
                <script src="https://player.vimeo.com/api/player.js"></script>
            </div>

            <div class="c-quote h-my-10">
                <p class="c-quote__text">{{ .Params.columnRight.quote.text }}</p>

                <p class="c-quote__author">{{ .Params.columnRight.quote.author }}</p>
            </div>
        </div>
    </div>

</div>

<div class="c-paper">
    <div class="c-heading h-mb-15">
        <h2>{{ .Params.product.title }}</h2>
    </div>

    <div class="l-grid">
        <div class='l-col l-col-lg'>
            
            <div class="m-base-summary h-mb-15">
                <div class="m-base-summary__icon">
                    <img src="media/images/ui-icon-base-hq.png">
                </div>

                <div class="m-base-summary__title">{{ .Params.product.baseOne.title }}</div>

                <div class="m-base-summary__description">
                    <p>{{ .Params.product.baseOne.text }}</p>
                </div>

                <div class="m-base-summary__stats">
                    <div class="m-base-summary__stat m-base-summary__stat--easy">
                        Easy: 30%
                    </div>
                    <div class="m-base-summary__stat m-base-summary__stat--medium">
                        Medium: 30%
                    </div>
                    <div class="m-base-summary__stat m-base-summary__stat--hard">
                        Hard: 30%
                    </div>
                </div>
            </div>

            <div class="m-base-summary">
                <div class="m-base-summary__icon">
                    <img src="media/images/ui-icon-base-moon.png">
                </div>
                
                <div class="m-base-summary__title">{{ .Params.product.baseOne.title }}</div>

                <div class="m-base-summary__description">
                    <p>{{ .Params.product.baseOne.text }}</p>
                </div>

                <div class="m-base-summary__stats">
                    <div class="m-base-summary__stat m-base-summary__stat--easy">
                        Easy: 30%
                    </div>
                    <div class="m-base-summary__stat m-base-summary__stat--medium">
                        Medium: 30%
                    </div>
                    <div class="m-base-summary__stat m-base-summary__stat--hard">
                        Hard: 30%
                    </div>
                </div>
            </div>
        </div>

        <div class='l-col l-col-lg'>
            <div class="m-base-summary h-mb-15">
                <div class="m-base-summary__icon">
                    <img src="media/images/ui-icon-base-forensics.png">
                </div>

                <div class="m-base-summary__title">{{ .Params.product.baseOne.title }}</div>

                <div class="m-base-summary__description">
                    <p>{{ .Params.product.baseOne.text }}</p>
                </div>

                <div class="m-base-summary__stats">
                    <div class="m-base-summary__stat m-base-summary__stat--easy">
                        Easy: 30%
                    </div>
                    <div class="m-base-summary__stat m-base-summary__stat--medium">
                        Medium: 30%
                    </div>
                    <div class="m-base-summary__stat m-base-summary__stat--hard">
                        Hard: 30%
                    </div>
                </div>
            </div>

            <div class="m-base-summary h-mb-8">
                <div class="m-base-summary__icon">
                    <img src="media/images/ui-icon-base-volcano.png">
                </div>

                <div class="m-base-summary__title">{{ .Params.product.baseOne.title }}</div>

                <div class="m-base-summary__description">
                    <p>{{ .Params.product.baseOne.text }}</p>
                </div>

                <div class="m-base-summary__stats">
                    <div class="m-base-summary__stat m-base-summary__stat--easy">
                        Easy: 30%
                    </div>
                    <div class="m-base-summary__stat m-base-summary__stat--medium">
                        Medium: 30%
                    </div>
                    <div class="m-base-summary__stat m-base-summary__stat--hard">
                        Hard: 30%
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="l-grid l-grid-center">
        <div class="l-col l-col-9 l-col-lg">
            <div class="c-quote h-mt-10">
                <p class="c-quote__text">{{ .Params.product.quote.text }}</p>
        
                <p class="c-quote__author">{{ .Params.product.quote.author }}</p>
            </div>
        </div>
    </div>
</div>

<div class="c-paper c-paper--dark">
    <div class="c-heading">
        <h2>{{ .Params.homeschooling.title }}</h2>
    </div>

    <div class="l-grid">
        <div class='l-col col-lg'>
            {{ range .Params.homeschooling.copySetOne }}
                <p>{{ .text }}</p>
            {{ end }}
        </div>

        <div class='l-col l-col-lg'>
            {{ range .Params.homeschooling.copySetTwo }}
                <p>{{ .text }}</p>
            {{ end }}
        </div>
    </div>

    <div class="l-grid l-grid-center h-mt-8">
        <div class="l-col l-col-9 l-col-md">
            <p class="h-text-center">{{ .Params.homeschooling.criteria }}</p>
        </div>

        <div class="l-col l-col-8 h-text-center h-mt-8">
            <button class="c-btn c-btn--large c-btn--primary">Reserve your place</button>
        </div>

        <div class="l-col l-col-8 l-col-md h-text-center h-mt-8">
            <small>{{ .Params.homeschooling.previousUsers }}</small>
        </div>
    </div>
</div>


{{ end }}