{{ define "main" }}

<h1>{{ .Params.title }}</h1>
<h2>{{ .Params.subtitle }}</h2>

<h3>Quotes</h3>
{{ partial "quote.html" .Params }}

<form>
    <div class="c-form-item">
        <label for="text-input-1" class="c-form-label">Full name</label>
        <input type="text" id="text-input-1" class="c-form-input" placeholder="Jean Luc Picard">
    </div>

    <div class="c-form-item">
        <label for="text-input-1" class="c-form-label">Personal description</label>
        <textarea id="text-area-1" class="c-form-input" placeholder="Captain of the USS Enterprise"></textarea>
    </div>

    <div class="c-form-item" role="radiogroup">
        <label for="text-input-1" class="c-form-label">Prefered tea</label>
        <div class="c-form-radio">
            <input class="c-form-radio-input" id="radio-option-one" type="radio" name="radio-option"
                value="radio-option-one" checked="checked">
            <label class="c-form-radio-label" for="radio-option-one">Earl Grey</label>
        </div>
        <div class="c-form-radio">
            <input class="c-form-radio-input" id="radio-option-two" type="radio" name="radio-option"
                value="radio-option-two">
            <label class="c-form-radio-label" for="radio-option-two">Peppermint</label>
        </div>
    </div>

    <div class="c-form-item">
        <label for="text-input-1" class="c-form-label">Do you have any enemies?</label>
        <div class="c-form-checkbox">
            <input class="c-form-checkbox-input" id="checkbox-option-one" type="checkbox"
                name="checkbox-option" value="checkbox-option-one">
            <label class="c-form-checkbox-label" for="checkbox-option-one">Vulcans</label>
        </div>
        <div class="c-form-checkbox">
            <input class="c-form-checkbox-input" id="checkbox-option-two" type="checkbox"
                name="checkbox-option" value="checkbox-option-two">
            <label class="c-form-checkbox-label" for="checkbox-option-two">Klingons</label>
        </div>
        <div class="c-form-checkbox">
            <input class="c-form-checkbox-input" id="checkbox-option-three" type="checkbox"
                name="checkbox-option" value="checkbox-option-three" checked="true">
            <label class="c-form-checkbox-label" for="checkbox-option-three">Borg</label>
        </div>
        <div class="c-form-checkbox">
            <input class="c-form-checkbox-input" id="checkbox-option-four" type="checkbox"
                name="checkbox-option" value="checkbox-option-four">
            <label class="c-form-checkbox-label" for="checkbox-option-four">Humans</label>
        </div>
    </div>

    <div class="c-form-item">
        <label class="c-form-label" for="field-select">Favorite captain</label>
        <select class="c-form-select" id="field-select" name="field-select">
            <option class="c-select-option">Pike</option>
            <option class="c-select-option">Kirk</option>
            <option class="c-select-option">Picard</option>
            <option class="c-select-option">Janeway</option>
            <option class="c-select-option">Archer</option>
        </select>
    </div>

    <div class="c-form-item">
        <label for="field-select-multiple" class="c-form-label">Favorite color</label>
        <select id="field-select-multiple" name="field-select-multiple"
            class="c-form-select c-form-select--multiple" multiple>
            <option class="c-select-option">Red</option>
            <option class="c-select-option">Yellow</option>
            <option class="c-select-option">Green</option>
            <option class="c-select-option">Blue</option>
        </select>
    </div>

    <div class="c-form-item">
        <input type="submit" id="submit" class="c-btn c-btn--primary" value="Submit Button">
    </div>
</form>

{{ end }}