.m-base-summary {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: $spacer-8 $spacer-5 $spacer-5 $spacer-5;
    border-radius: $border-radius;
    background-color: map-get($color-map, white);
    border: 1px solid map-get($color-map-gray, 80);
    transition: .2s ease-in-out;
    box-shadow: 0 2px 5px map-get($color-map-gray, 90);

    // Icon.
    &__icon {
        position: absolute;
        top: -36px;
        left: calc(50% - 36px);
        width: 72px;
    }

    // Title.
    &__title {
        margin-bottom: $spacer-3;
        font-size: $font-size-small;
        font-weight: $font-weight-bold;
        color: map-get($color-map, black);
    }

    // Description.
    &__description {
        p {
            font-size: $font-size-small;
        }
    }

    // Stats.
    &__stats {
        display: flex;
        flex-direction: row;
    }

    // Stat.
    &__stat {
        margin-right: $spacer-3;
        padding: $spacer-1 $spacer-4;
        font-size: $font-size-xsmall;;
        border-radius: $border-radius-large;

        // Stat, easy difficulty.
        &--easy {
            position: relative;

            &:before {
                position: absolute;
                content: "";
                left: 0;
                top: calc(50% - 5px);
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background-color: map-get($color-map, green);;
            }
        }

        // Stat, medium difficulty.
        &--medium {
            position: relative;

            &:before {
                position: absolute;
                content: "";
                left: 0;
                top: calc(50% - 5px);
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background-color: map-get($color-map, yellow);;
            }
        }

        // Stat, hard difficulty.
        &--hard {
            position: relative;

            &:before {
                position: absolute;
                content: "";
                left: 0;
                top: calc(50% - 5px);
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background-color: map-get($color-map, red);;
            }
        }

        // Stat, extreme difficulty.
        &--extreme {
            position: relative;

            &:before {
                position: absolute;
                content: "";
                left: 0;
                top: calc(50% - 5px);
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background-color: map-get($color-map, red-dark);;
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }

}